/* General styling */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
  scroll-behavior: smooth;
}

section {
  padding: 60px 0;
}

/* Card hover effect */
.card:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

/* Footer */
footer p {
  margin: 0;
  font-size: 0.9rem;
}
.modal-content {
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.modal-header {
  border-bottom: none;
}
.modal-footer {
  border-top: none;
}
#userTable {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

